
<div>
<ul class="container-fluid">
<div class="row">
<div class="col-lg-12">
        <h1 class="page-header">Consultas</h1>
    <!-- /.col-lg-12 -->
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Realize sua consulta selecionando os itens dos datasets
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">

<!--
                        <div class="container" ng-controller="FormCtrl">
                          <form name="FormContato" ng-submit="salveSubmit()">
                          <div class="form-group" id="formId">


                                            <h4>Selecione os datasets:</h4>
                                            <select name="selectedDatasets" ng-model="user.selectedDatasets" ng-options="x for (x, y) in datasets">
                                            </select>

                                            <h4>Selecione os formatos:</h4>
                                            <select name="selectedFormatos" ng-model="user.selectedFormatos"  ng-options="x for (x, y) in formatos">
                                            </select>

                                            <h4>Selecione a versão:</h4>
                                            <select name="selectedVersao" ng-model="user.selectedVersao" ng-options="x for (x, y) in versao">
                                            </select>

                                            <div>
                                            <h4>Itens dos dataset:</h4>
                                            <select id="country" ng-model="states" ng-options="country for (country, states) in countries">
                                            <option value=''></option>
                                            </select>
                                            <select id="state" ng-disabled="!states" name="cities" ng-model="user.cities" ng-options="state for (state,cities) in states"><option value=''></option></select>
                                            </div>

                                            <div>
                                            <h4>Itens dos dataset:</h4>
                                            <select id="country2" ng-model="states2" ng-options="country2 for (country2, states2) in countries1">
                                            <option value=''></option>
                                            </select>
                                            <select id="state2" ng-disabled="!states2" name="cities2" ng-model="user.cities2" ng-options="state2 for (state2,cities2) in states2"><option value=''></option></select>
                                            </div>

                                            <div>
                                            <h4>Itens dos dataset:</h4>
                                            <select id="country3" ng-model="states3" ng-options="country3 for (country3, states3) in countries2">
                                            <option value=''></option>
                                            </select>
                                            <select id="state3" ng-disabled="!states3" name="cities3" ng-model="user.cities3" ng-options="state3 for (state3,cities3) in states3"><option value=''></option></select>
                                            </div>

											
											<input type="submit" class="btn" value="Enviar Consulta" ng-class="{'disabled btn-warning' : FormContato.$invalid , 'btn-success' : FormContato.$valid}">
											
											
                                            </div>
                                            </div>

                                    </div>


                        
                        </div>
                        </div>
                        </form>

-->
                   </div>
               </div>
            </div>
    </div>
  </div>
</div>
</div>
</ul>
</div>



