
<div class="row">
    <div class="col-lg-12">
<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
              <h3>Downloads</h3>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-home"></i>Início</a></li>
        <li class="active">Downloads</li>
        <li><a><button ng-click="pegarDadosPessoa()">pegar dados</button></a></li>

      </ol>
    </section>
    <div ng-repeat="post in posts">
    <section class="content">
      <div id="dataset-description">
        <h2>Descrição do Conjunto de Dados</h2>
        <table class="human-readable-example">
          <tbody>
            <tr>
              <td>Título</td>
              <td>Pessoa</td>
            </tr>
            <tr>
              <td>URI</td>
              <td>http://localhost:8080/find/pessoa</td>
            </tr>
            <tr>
              <td>Palavras-chave</td>
              <td><span>{{ post.keywords }}</span></td>
            </tr>
          </tbody>
          <tbody id="provenance-info">
            <tr>
              <td>Publication date</td>
              <td><span>2017</span></td>
            </tr>
            <tr>
              <td>Criadores</td>
              <td><span>{{ post.creator }}</span>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>Frequência de Atualização</td>
              <td>Every Hour</td>
            </tr>
            <tr>
              <td>Tema</td>
                <td>{{ post.theme }}</td>
            </tr>
            <tr id="locale-parameters">
              <td>Linguagem</td>
              <td>{{ post.language }}</td>
            </tr>
            <tr>
              <td>Versão Atual</td>
              <td>{{ post.last_version }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="dataset-distributions">
        <h2>Formatos dos Conjuntos de Dados</h2>
        <h3>RDF</h3>
        <table class="human-readable-example">
          <tbody>
            <tr>
              <td>Título</td>
              <td>RDF do Conjunto de Dados - 18-07-2016</td>
            </tr>
            <tr>
              <td>Descrição</td>
              <td>Arquivo RDF do Conjunto de Dados </td>
            </tr>
            <tr>
              <td>Tipo de Arquivo</td>
              <td>RDF/XML</td>
            </tr>
            <tr>
              <td>Licença</td>
              <td> <a>  </a>
              </td>
            </tr>
            <tr>
              <td>Data de Publicação</td>
              <td><span></span></td>
            </tr>
            <tr>
              <td>Última modificação</td>
              <td><span></span></td>
            </tr>
            <tr>
              <td>Download URL</td>
              <td><a></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="dataset-structural-metadata">
        <h4>Estrutura do RDF</h4>
        <!--<p>Schema of the dataset "Bus stops of MyCity".</p> -->
        <table class="human-readable-example">
          <tbody>
            <tr>
              <th>Campo</th>
              <th>Título</th>
              <th>Descrição</th>
              <th>Tipo de dado</th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>foaf:name</td>
              <td>Nome</td>
              <td>O título do evento</td>
              <td>string</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

          </tbody>
        </table>
      </div>

      <div id="dataset-versioning-information">
        <h2>Histórico de Versão</h2>
        <table class="human-readable-example">
          <thead>
            <tr>
              <th>Versão</th>
              <th>Data de Emissão</th>
              <th>URI</th>
              <th>Histórico de Mudança</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="td-version">1.0</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <h2>Arquivos para Download</h2>

      <table class="human-readable-example">
        <tbody>
          <tr>
            <th>Título</th>
            <th>Descrição</th>
            <th>Tipo de Arquivo</th>
            <th>Licença</th>
            <th>Data de publicação</th>
          </tr>
          <tr>
            <td><a></a></td>
            <td></td>
            <td>RDF/XML</td>
            <td> <a>  </a></td>
            <td></td>
          </tr>
          <tr>
            <td><a></a></td>
            <td></td>
            <td>RDF/XML</td>
            <td> <a> </a></td>
            <td></td>
          </tr>
          <tr>
            <td><a></a></td>
            <td></td>
            <td>RDF/XML</td>
            <td> <a>  </a></td>
            <td></td>
          </tr>
          <tr>
            <td><a></a></td>
            <td></td>
            <td>RDF/XML</td>
            <td> <a>  </a></td>
            <td></td>
          </tr>
          <tr>
            <td><a></a></td>
            <td></td>
            <td>RDF/XML</td>
            <td> <a>  </a></td>
            <td></td>
          </tr>
          <tr>
            <td><a></a></td>
            <td></td>
            <td>RDF/XML</td>
            <td> <a>  </a></td>
            <td></td>
          </tr>
          <tr>
            <td><a></a></td>
            <td></td>
            <td>RDF/XML</td>
            <td> <a>  </a></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </section>
</div>
  </div>
</div>

  </div>

    </div>
