
<div>
	<ul class="container-fluid">
	    <div class="row">
		
		<div class="col-lg-12">
        	<h3 class="page-header">Gerador de Datasets</h3>
    	</div>

        <div class="row">
        <div class="contentform">
        <div class="leftcontact">

            <div class="form-group">
            <p>Senha <span>*</span></p>
            <span class="icon-case"><i class="fa fa-location-arrow"></i></span>
                <input type="text" id="senha"/>
                <div class="validation"></div>
            </div>

            <div class="form-group">
            <p>Login <span>*</span></p>
            <span class="icon-case"><i class="fa fa-location-arrow"></i></span>
                <input type="text" id="login"/>
                <div class="validation"></div>
            </div>
        </div>

        <div class="rightcontact"> 
            <p>Serial<span>*</span></p>
        </div>    


        </div>
        </div>

        <div class="col-lg-12">
            <h3 class="page-header"></h3>
        </div>




        <form id="gerador">
        <div class="contentform">
            <div class="leftcontact">
                    <div class="form-group">
                        <p>Código<span>*</span></p>
                        <span class="icon-case"><i class="fa fa-location-arrow"></i></span>
                        <input type="text"/>
                    <div class="validation"></div>
            </div> 

                    <div class="form-group">
                    <p>Título do Conjuto de Dados <span>*</span></p>
                    <span class="icon-case"><i class="fa fa-location-arrow"></i></span>
                        <input type="text" name="prenom" id="prenom"/>
                        <div class="validation"></div>
                    </div>

                    <div class="form-group">
                    <p>Chave do Conjuto de Dados<span>*</span></p>
                    <span class="icon-case"><i class="fa fa-location-arrow"></i></span>
                        <input type="text" name="prenom" id="prenom"/>
                        <div class="validation"></div>
                    </div>

                    <div class="form-group">
                    <p>Frequência de Atualização <span>*</span></p>
                    <span class="icon-case"><i class="fa fa-location-arrow"></i></span>
                        <input type="text" name="prenom" id="prenom"/>
                        <div class="validation"></div>
                    </div>

                    <div class="form-group">
                    <p>Criador <span>*</span></p>
                    <span class="icon-case"><i class="fa fa-location-arrow"></i></span>
                        <input type="text" name="prenom" id="prenom"/>
                        <div class="validation"></div>
                    </div>

                    <div class="form-group">
                    <p>Palavras Chave <span>*</span></p>
                    <span class="icon-case"><i class="fa fa-location-arrow"></i></span>
                        <input type="text" name="prenom" id="prenom"/>
                        <div class="validation"></div>
                    </div>

                    <div class="form-group">
                    <p>Orgão Publicador <span>*</span></p>
                    <span class="icon-case"><i class="fa fa-location-arrow"></i></span>
                        <input type="text" name="prenom" id="prenom"/>
                        <div class="validation"></div>
                    </div>
              
              </div>

            <div class="rightcontact">  

                    <div class="form-group">
                    <p>Contato Email <span>*</span></p>
                    <span class="icon-case"><i class="fa fa-location-arrow"></i></span>
                        <input type="text" name="prenom" id="prenom"/>
                        <div class="validation"></div>
                    </div>

                    <div class="form-group">
                    <p>Periodicidade <span>*</span></p>
                    <span class="icon-case"><i class="fa fa-location-arrow"></i></span>
                        <input type="text" name="prenom" id="prenom"/>
                        <div class="validation"></div>
                    </div>

                    <div class="form-group">
                    <p>Local / Cidade <span>*</span></p>
                    <span class="icon-case"><i class="fa fa-location-arrow"></i></span>
                        <input type="text" name="prenom" id="prenom"/>
                        <div class="validation"></div>
                    </div>

                    <div class="form-group">
                    <p>Tema <span>*</span></p>
                    <span class="icon-case"><i class="fa fa-location-arrow"></i></span>
                        <input type="text" name="prenom" id="prenom"/>
                        <div class="validation"></div>
                    </div>
                
                    <div class="form-group">
                    <p>Linguagem <span>*</span></p>
                    <span class="icon-case"><i class="fa fa-comments-o"></i></span>
                        <input type="text" name="prenom" id="prenom"/>
                        <div class="validation"></div>
                    </div>  
            

                    <div class="form-group">
                    <p>Formato de Data <span>*</span></p>
                    <span class="icon-case"><i class="fa fa-comments-o"></i></span>
                        <input type="text" name="prenom" id="prenom"/>
                        <div class="validation"></div>
                    </div>  


                    <div class="form-group">
                    <p>Descrição <span>*</span></p>
                    <span class="icon-case"><i class="fa fa-comments-o"></i></span>
                        <input type="text" name="prenom" id="prenom"/>
                        <div class="validation"></div>
                    </div>    
            </div>
        </div>
                    
            <div class="contentform">
                
                    <div class="form-group">
                    <p>SQLQuery <span>*</span></p>
                    <span class="icon-case"><i class="fa fa-comments-o"></i></span>
                        <textarea name="message" rows="14" ></textarea>
                        <div class="validation"></div>
                    </div>
        
            </div>

            <button type="submit" class="bouton-contact">Send</button>
    
    </form>

    	
	   </div>
	</ul>
</div>

