<div>

<div class="jumbotron">
  <h2>OpenAcademy</h2>
  <p>Portal de Gestão Acadêmica da UFPE</p>
 </div>

    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">
            <div class="col-lg-12">
                         <div class="panel panel-default">
                                    <div class="panel-heading">
                                     Sobre
                                     </div>

                          <div class="panel-body">
                                      <div class="row">
                                              <div class="col-lg-12">
                                              <p> O Portal de Gestão Acadêmica da UFPE, oferece dados para a realização de análises e promove a visualização dos dados abertos sobre os alunos, cursos, disciplinas e discentes da UFPE. É importante ressaltar que os dados serão extraídos do sistema SIGA, observando a LAI(Lei de Acesso à Informação Pública) e as licenças de publicação dos dados abertos.<p>
                                              </div>
                                      </div>
                              <!-- /.col-lg-6 (nested) -->
                          </div>

                          </div>

                          <!-- /.row (nested) -->

                          <!-- /.panel-body -->
             <!-- /.panel -->
             </div>
    <!-- /.col-lg-12 -->
</div>


</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Conjunto de Dados
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nome</th>
                                <th>Sobre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Cursos</td>
                                <td><a target="_blank" href="https:///">Saiba mais</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Docentes</td>
                                <td><a target="_blank" href="https:///">Saiba mais</a></td>
                            </tr>
                            <tr> 
                                <td>3</td>
                                <td>Orgão</td>
                                <td><a target="_blank" href="https:///">Saiba mais</a></td>
                            </tr>
			    <tr>
                                <td>4</td>
                                <td>Programa Formação</td>
                                <td><a target="_blank" href="https:///">Saiba mais</a></td>
                            </tr>
			    <tr>
                                <td>5</td>
                                <td>Turma</td>
                                <td><a target="_blank" href="https:///">Saiba mais</a></td>
                            </tr>
 			    <tr>
                                <td>6</td>
                                <td>Vinculo</td>
                                <td><a target="_blank" href="https:///">Saiba mais</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
</div>



</div>
