<div class="vuadem">      

<div class="row">
    <div class="col-lg-6 col-sm-6" id="doughnut-chart" ng-controller="indicadoresCtrl">
        <div class="row" ng-init="pegarDados()">
        <div class="panel panel-default">
            <div class="panel-heading">Desistências no Curso de Sistemas de Informação</div>
            <div class="panel-body">
          	
            <div class="col-lg-12">
          	<canvas id="bar_si" class="chart chart-bar" chart-data="bar_si.data" chart-labels="bar_si.labels" chart-series="bar_si.series"></canvas>

            </div>
            </div>
        </div>
    </div>
</div>
</div>



 <div class="row">
    <div class="col-lg-6 col-sm-6" id="doughnut-chart" ng-controller="indicadoresCtrl">
        <div class="row" ng-init="pegarDados()">
        <div class="panel panel-default">
            <div class="panel-heading">Desistências no Curso de Ciência da Computação</div>
            <div class="panel-body">
            <div class="col-lg-12">
          
          	<canvas id="bar_cc" class="chart chart-bar" chart-data="bar_cc.data" chart-labels="bar_cc.labels" chart-series="bar_cc.series"></canvas>

            </div>
            </div>
        </div>
    </div>   
</div>
</div>

</div>


